<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type= "text/css" href="static/style.css">
	<title>Image Resizer</title>
</head>
<body>
	<h1>Image Resizer</h1>
	<form class="input_form" method="POST" action="upload_and_resize" enctype=multipart/form-data>
		<input class="input_file" name="file" type="file" id="file" accept="image/*" onchange="set_filename();"/>
		<label for="file">Choose a file</label>
		<input class="chosen_file" id="upload_file" name="upload_file" type="text" disabled="disabled" placeholder="..."/>
		<input class="is_changed" id="is_changed" name="is_changed" type="text" placeholder="0"/>
		<br />
		<div class="hw_container">
			Height To-Be:
			<input class="input_hw" name="height" type="text" pattern="[0-9]{1,3}" value="0" autofocus required title="Should be an integer between 0 and 999"/>
		</div>
		<div class="hw_container">
			Height As-Is:
			<input class="fixed_hw" id="is_height" name="is_height" type="text" disabled="disabled" placeholder="..."/>
		</div>
		<br style="clear:both" />
		<div class="hw_container">
			Width To-Be:
			<input class="input_hw" name="width" type="text" pattern="[0-9]{1,3}" value="0" autofocus required title="Should be an integer between 0 and 999"/>
		</div>
		<div class="hw_container">
			Width As-Is:
			<input class="fixed_hw" id="is_width" name="is_width" type="text" disabled="disabled" placeholder="..."/>
		</div>
		<button class="btn_submit" type="submit" name="submit" value="Upload">Resize</button>
	</form>
	<script type="text/javascript">
		function set_filename() {
			var preview = document.createElement("img");
			var file    = document.getElementById("file").files[0];
			var reader  = new FileReader();
			var change;
			
			if (isNaN(parseInt(document.getElementById("is_changed").value)))
				change = 0;
			else
				change = parseInt(document.getElementById("is_changed").value);

			console.log(change);
			// Set height and width of original image to AsIs fields
			reader.addEventListener("load", function() {
				preview.src = reader.result;
				document.getElementById("is_height").value = preview.naturalHeight;
				document.getElementById("is_width").value = preview.naturalWidth;
			}, false);

			if (file) {
				// Display filename in the input field near 'choose a file'
				document.getElementById("upload_file").value = file.name;
				document.getElementById("is_changed").value = change + 1;
				reader.readAsDataURL(file);
			}
		}
	</script>
</body>
</html>